main {
    display: flex;
    height: 80svh;
    box-sizing: border-box;
    gap: 1rem;
    padding-inline: 10%;
    padding-block: auto;

    .portals {
        --size: 50svh;
        height: var(--size);
        width: 100%;
        transition-duration: 0.2s;
        display: flex;
        gap: 1rem;
        margin-block: auto;
        padding-inline: 10px;


        .cover {
            border-radius: 1000px;
            height: var(--size);
            width: 100%;
            border: 1.5px solid var(--f);
            transition: ease-in-out 0.2s;
            display: grid;
            place-content: center;
            transition-delay: 0.1s;

            h2 {
                overflow: hidden;
                margin: 0;
                width: 100%;
                height: 100%;
                transition-duration: 0.2s;
                transition-delay: 0.2s;
            }

            svg {
                
                opacity: 0;
                rotate: -45deg;
                scale: 5 !important;
                transition-duration: 0.2s;
                * {
                    stroke: var(--accent) !important;
                    fill: var(--accent) !important;
                 }

            }
        }

        article {
            overflow: hidden;
            width: 0;
            display: flex;
            flex-direction: column;
            transition: linear 0.2s;
            transition-delay: 0.1s;
            
            h2, p {
                opacity: 0;
                transition-duration: 0.1s;
            }
            
            h2 {
                margin: 0;
                font-family: 'Kalnia', serif;
                font-weight: 400;
            }
            
            p {
                margin-block: auto;
            }
        }

        &:hover {
            article {
                width: calc(100% - var(--size));
                transition: width linear 0.2s;

                h2, p {
                    opacity: 1;
                    transition: opacity linear 0.3s;
                }

                h2 {
                    transition-delay: 0.2s;
                }
                p {
                    transition-delay: 0.3s;
                }
            }
            .cover {
                width: var(--size);
                transition: linear 0.2s;

                h2 {
                    height: 0;
                    width: 0;
                    transition-duration: 0.1s;
                    transition-delay: 0s;
                }
            }

            svg {
                opacity: 1;
                transition-duration: 0.3s;

            }
        }
    }
    }
