@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,1000&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css');

$font: 'DM Sans', sans-serif;

* {
    font-family: $font;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: rgb(213, 213, 213);
    }
    a, h1, h3 {
        color: white;
    }

    .brand {
        color: transparent;
        font-weight: 1000;
        background: linear-gradient(135deg, rgb(255, 255, 255), rgb(168, 168, 168));
        background-clip: text;
    }
    li#x {
        // background-image: url("images/ig.jpg");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        background: linear-gradient(45deg, rgb(255, 255, 255), rgb(189, 189, 189));
        & > a, h3 {
            color: black;
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: white;;
        color: rgb(31, 31, 31);
    }
    a, h1, h3 {
        color: rgb(0, 0, 0);
    }

    .brand {
        color: transparent;
        font-weight: 1000;
        background: linear-gradient(135deg, rgb(0, 0, 0), rgb(106, 106, 106));
        background-clip: text;
    }
    li#x {
        // background-image: url("images/ig.jpg");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        background: linear-gradient(45deg, black, rgb(89, 89, 89));
        & > a, h3 {
            color: rgb(255, 255, 255);
        }
    }
}

body {
    margin: 0;
    width: 100svw;
    min-height: 100svh;
}

@media (width < 700px) {
    header {
        height: 30svh;
    }
    ul {
        grid-template-columns: 1fr;
    }
}

@media (width >= 700px) {
    header {
        height: 50svh;
    }
    ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1svh;

    p {
        text-align: center;
        font-size: clamp(0.9rem, 1.5vw, 1.5rem);
        margin-block: 0;
    }
    h1 {
        font-size: clamp(3rem, 6vw, 6rem);
        margin-bottom: 0px;
    }
    
}

body > * {
    padding-inline: max(20px, 10vw);
    padding-block: max(20px, 5vw);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 5rem;
    padding-block: auto;
    li {
        & > * {
            transition-duration: 0.2s;
        }
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        height: max(100px, 25svh);
        h3 {
            font-weight: 500; 
            align-self: end;
            margin: 0;
        }
        a {
            text-decoration: none;
            font-size: clamp(1.2rem, 3svw, 3rem);
            height: 100%;
            width: 100%;
            display: none;
            opacity: 0;
            align-items: center;
            transform: translateY(5%);
            justify-content: center;

        }

        &#instagram {
            background-image: url("images/ig.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        // &#x {
        //     // background-image: url("images/ig.jpg");
        //     // background-size: cover;
        //     // background-repeat: no-repeat;
        //     // background-position: center;
        //     background: linear-gradient(45deg, black, rgb(89, 89, 89));
        // }

        &#linkedin {
            // background-image: url("images/ig.jpg");
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: center;
            background: linear-gradient(45deg, rgb(0, 58, 167), rgb(21, 117, 196));
        }

        &:hover {
            &#instagram {
                background-image: linear-gradient(45deg, rgb(255, 157, 0), rgb(140, 0, 255));
            }
            h3 {
                display: none;
            }
            a {
                display: flex;
                opacity: 1;
            }
        }
    }
}
