$bg: black;

%headers {
    font-family: Poppins, Arial, sans-serif;
    color: white;
    text-align: center;
}

%text {
    font-family: 'Space mono', 'Courier New', Courier, monospace;
    color: rgb(255, 251, 230);
}

body {
    margin: 0px;
    background-color: $bg;
}

ul {
    list-style-type: none;

    li {
        display: inline-block;

    }

    #logo {
        color:rgb(255, 239, 162);
        font-family: 'Instrument Serif', 'Times New Roman', Times, serif;
        padding: 15px 8px 15px 8px;
        font-size: 30px;
        margin: 0px;
        text-decoration: none;

    }

    .link {
        color:rgb(255, 252, 240);
        font-family: Poppins, Arial, sans-serif;
        padding: 15px 8px 15px 8px;
        font-size: 25px;
        margin: 0px;
        text-decoration: none;
    }
    
}

.info-text {
    @extend %text;
    font-size: 18px;
    text-align: center;
    padding: 30px;
}

#project-head {
    @extend %headers;
    font-size: 30px;
}